<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> página inicial </title>

</head>
<body>
    
    <h1>Projeto Veículos</h1>

    <p>
        Sistema simples para apresentar ofertas,
        veículos novos e seminovos.
    </p>

    <ul>
        <li>
            <a href="/quemsou">Quem Sou</a>
        </li>

        <li>
            <a href="/ofertas">Ofertas</a>
        </li>

        <li>
            <a href="/novos">Novos</a>
        </li>

        <li>
            <a href="/seminovos">Seminovos</a>
        </li>
    </ul>
</body>
</html>