<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> página apresentações </title>

</head>
<body>
    <h1>Quem sou</h1>
<div>
    <img src="/imagens/3x4.jpg" alt="Minha foto" style="width:150px; ">
</div>
<div>
    <p>Nome: Juan Branco de moura</p>
    <p>Idade: 20 anos</p>
    <p>Breve Descrição: Alguém amante de ciências naturais, jogos e animais. Atualmente estudante do 3° Semestre de DSM na Fatec Zona-Sul.</p>

    <h1>Escolpo do projeto</h1>
    <p> Montar um sistema web em Node.js contendo a seguinte arquitetura: </p>
    <p> O projeto será executado em um webservice utilizando a porta 6200. </p>
    <p> O projeto deverá conter as seguintes rotas e apresentar os respectivos conteúdos: </p>
    <p> A /Apresentação geral do projeto completo, destacando os objetivos do sistema de gestão de saúde e a importância da digitalização no SUS.</p>
    <p> B /quemsou : Apresentação do aluno e do escopo do projeto. </p>
    <p> C /ofertas : Apresentar um template contendo 6 serviços de saúde ou programas preventivos com vagas/atendimentos disponíveis (ex: Mutirão de Catarata, Vacinação Drive-Thru, Atendimento Odontológico Corujão). Os valores e detalhes deverão ser extraídos de um dicionário JSON chamado ofertas.json. </p>
    <p> D /novos : Apresentar pelo menos 6 novas unidades de atendimento, equipamentos hospitalares ou medicamentos recém-incorporados ao catálogo de distribuição, contendo descrição e fotos, extraídos do arquivo novos.json. </p>
    <p> E /seminovos : Apresentar 6 unidades de saúde existentes (UBS, UPA ou Hospitais) para fins de auditoria/gestão, contendo suas respectivas características positivas (pontos fortes de atendimento) e negativas (gargalos operacionais ou insumos em falta), extraídos do arquivo seminovos.json. </p>

</div>

</body>

</html>